
body{
	font-family: "Roboto", sans-serif;
	background-color: silver; 
	margin-top: 60px;
}
h1{
	font-size: 50px;
	text-align: center;

}
#contenu{
width:600px;
margin:0 auto;
padding-top:50px;
}
 
#question{
color: black;
}
 
#form-resp{
padding-left: 20px;
}
 
#form-resp ul{ 
line-height: 50px;
list-style: none;
}
input[type="checkbox"] {
    display: all;
}
label {
	font-family: FontAwesome;
    position: relative;
    padding-left: 30px;
    font-size: 30px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    padding: 16px 28px 0 0;
}